<!-- 
* File: about.html
* Author: Szilágyi Nikolett Viola
* Copyright: 2022, Szilágyi Nikolett Viola
* Group: Szoft_I_N
* Date: 2022_06_14
* Github: https://github.com/nikolettszilagyii/
* Licenc: GNU GPL
 -->


 <h2>Névjegy</h2>

 <div class="card w-100 text-center" style="width: 18rem;">
     <div class="card-body">
       <h5 class="card-title">Szilágyi Nikolett Viola</h5>
       <h6 class="card-subtitle mb-2 text-muted">Külkereskedelmi Technikum</h6>
       <p class="card-text">Osztály: Szoft_I_N</p>
       <p class="card-text">Készítés dátuma: 2022.06.14</p>
 
       <p><strong>Az oldal forrása elérhető itt: </strong> <a href="https://github.com/nikolettszilagyii/elllip" class="link-secondary">
         <i class="bi bi-github"></i>
     </a></p>
 
     </div>
   </div>