<!-- 
* File: index.html
* Author: Szilágyi Nikolett Viola
* Copyright: 2022, Szilágyi Nikolett Viola
* Group: Szoft_I_N
* Date: 2022_06_14
* Github: https://github.com/nikolettszilagyii/
* Licenc: GNU GPL
 -->


 <h2>Ellipszoid térfogatszámítás</h2>

 <form action="calc.php" method="GET">
 
     <div class="row mb-3">
         <div class="col">
             <label for="a">A tengely</label>
             <input type="text" name="a" id="a" class="form-control">
         </div>
         <div class="col">
             <label for="b">B tengely</label>
             <input type="text" name="b" id="b" class="form-control">
         </div>
         <div class="col">
             <label for="c">C tengely</label>
             <input type="text" name="c" id="c" class="form-control">
         </div>
     </div>
 
     <div class="justify-content-end text-end">
         <button type="submit" class="btn btn-outline-primary">Számítás</button>
     </div>
 
 </form>