<!-- 
* File: nav.html
* Author: Szilágyi Nikolett Viola
* Copyright: 2022, Szilágyi Nikolett Viola
* Group: Szoft_I_N
* Date: 2022_06_14
* Github: https://github.com/nikolettszilagyii/
* Licenc: GNU GPL
 -->


 <nav class="navbar navbar-light">
    <div class="container-fluid justify-content-around">
        <ul class="nav nav-tabs">

          <li class="nav-item">
            <a class="nav-link" href="index.php">Kezdőlap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.php">Névjegy</a>
          </li>

        </ul>
    </div>
  </nav>